In [9]:
import data_organize as do
import pandas as pd

In [3]:
do.get_all_table_name()

(('AAA_CD_prc',),
 ('GK_prc',),
 ('Net_buy_bond',),
 ('Repo_amt_prc_for_collateral',),
 ('Repo_amt_prc_for_terms',),
 ('Repo_price_for_investors',),
 ('amt_fund_type',),
 ('bank_financial_products_ytm',),
 ('bond_financing',),
 ('consumption',),
 ('cpi_food',),
 ('currency',),
 ('economic_climate',),
 ('economy_growth',),
 ('fixed_asset_investment',),
 ('high_frequency_for_prediction',),
 ('housing',),
 ('industry_finance',),
 ('industry_value',),
 ('industry_volumn',),
 ('interest_rate_day',),
 ('interest_rate_month',),
 ('international_bs',),
 ('ir_bond1',),
 ('liquidity_prc_of_money_mkt',),
 ('margin_newfund_amt',),
 ('margin_newfund_scale',),
 ('name',),
 ('net_assets_fund_type',),
 ('price_index',),
 ('resoure_table',),
 ('scale_fund_type',),
 ('unemployment',))

In [7]:
do.get_data("margin_newfund_amt")

    股票型基金  债券型基金  混合型基金  货币市场型基金  另类投资基金  QDII基金      date
0    11.0   47.0   19.0      0.0     0.0     4.0  2019年01月
1    10.0   29.0   30.0      0.0     0.0     0.0  2019年02月
2     9.0   24.0   24.0      0.0     0.0     0.0  2019年03月
3    16.0   37.0   41.0      0.0     0.0     0.0  2019年04月
4    15.0   45.0   30.0      0.0     0.0     6.0  2019年05月
5    12.0   38.0   24.0      0.0     0.0     1.0  2019年06月
6    21.0   46.0   11.0      0.0     0.0     2.0  2019年07月
7    20.0   51.0   29.0      6.0     0.0     0.0  2019年08月
8    21.0   41.0   20.0      0.0     3.0     1.0  2019年09月
9    23.0   53.0   13.0      0.0     0.0     1.0  2019年10月
10   25.0   39.0   23.0      0.0     1.0     1.0  2019年11月
11   22.0   68.0   41.0      0.0     1.0     1.0  2019年12月
12   16.0   27.0   20.0      0.0     1.0     3.0  2020年01月
13   20.0   26.0   47.0      0.0     3.0     0.0  2020年02月
14   52.0   43.0   62.0      0.0     3.0     4.0  2020年03月
15   16.0   46.0   45.0      0.0     4.0     2.0  2020年04月
16   12.0   54.0   51.0      0.0     1.0     1.0  2020年05月
17    5.0   16.0   33.0      0.0     0.0     0.0  2020年06月

         代码                 名称   类型 频率      table_name
0  M0039354       GDP:不变价:当季同比  EDB  季  economy_growth
1  M5567901  GDP:不变价:第一产业:当季同比  EDB  季  economy_growth
2  M5567902  GDP:不变价:第二产业:当季同比  EDB  季  economy_growth
3  M5567903  GDP:不变价:第三产业:当季同比  EDB  季  economy_growth